@import "tailwindcss";
@import "tw-animate-css";

@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(.928 .006 264.531);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.75rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --gray-25: #FCFCFD;

    --brand-25: #FCFAFF;
    --brand-50: #F1EDFF;
    --brand-200: #BDACFF;
    --brand-300: #9F86FE;
    --brand-600: #6544E7;
    --brand-700: #4F35B4;
    --brand-800: #3D298C;

    --success-25: #F6FEF9;
    --success-50: #ECFDF3;
    --success-100: #DCFAE6;
    --success-200: #ABEFC6;
    --success-300: #75E0A7;
    --success-400: #47CD89;
    --success-500: #17B26A;
    --success-600: #079455;
    --success-700: #067647;

    --error-50: #FEF3F2;
    --error-100: #FEE4E2;
    --error-200: #FECDCA;
    --error-600: #D92D20;
    --error-700: #B42318;
}

@theme inline {
    --font-inter: var(--font-inter);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --color-gray-25: var(--gray-25);

    --color-brand-25: var(--brand-25);
    --color-brand-50: var(--brand-50);
    --color-brand-200: var(--brand-200);
    --color-brand-300: var(--brand-300);
    --color-brand-600: var(--brand-600);
    --color-brand-700: var(--brand-700);
    --color-brand-800: var(--brand-800);

    --color-success-25: var(--success-25);
    --color-success-50: var(--success-50);
    --color-success-100: var(--success-100);
    --color-success-200: var(--success-200);
    --color-success-300: var(--success-300);
    --color-success-400: var(--success-400);
    --color-success-500: var(--success-500);
    --color-success-600: var(--success-600);
    --color-success-700: var(--success-700);

    --color-error-50: var(--error-50);
    --color-error-100: var(--error-100);
    --color-error-200: var(--error-200);
    --color-error-600: var(--error-600);
    --color-error-700: var(--error-700);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-gray-100 text-foreground;
    }


}

.adapter-modal {
    @apply backdrop-blur-md bg-black/46

}

.adapter-modal-wrapper {
    @apply bg-gray-50 text-gray-800
}

.adapter-list {
    @apply mx-4
}

.adapter-react-button {
    @apply text-gray-700 border border-gray-300 rounded-md shadow-xs
}

.adapter-react-button:not([disabled]):hover {
    @apply bg-gray-100
}

.adapter-modal-header .close-button {
    @apply bg-transparent text-gray-700
}

.adapter-modal-header .close-button:hover {
    @apply bg-transparent text-gray-700 after:bg-gray-900 before:bg-gray-900
}